<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SmokeTestSuite" verbose="1" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="org.OptimaBus.UI.utils.AllureReportListener"/>
    </listeners>
    <test name="SmokeTest">
        <classes>

<!--            <class name="org.OptimaBusTests.uiTests.CalcTests"/>-->
<!--            <class name="org.OptimaBusTests.uiTests.mainPageTests.SettingsTests"/>-->
<!--            <class name="org.OptimaBusTests.uiTests.mainPageTests.MainPageTest"/>-->
<!--            <class name="org.OptimaBusTests.uiTests.mainPageTests.OperationHisTests"/>-->
<!--            <class name="org.OptimaBusTests.uiTests.createBTNTest.IntraBankTest"/>-->
<!--            <class name="org.OptimaBusTests.uiTests.createBTNTest.MBPerevodSomTest"/>-->
<!--            <class name="org.OptimaBusTests.uiTests.createBTNTest.MBPerevodValTest"/>-->
<!--            <class name="org.OptimaBusTests.uiTests.createBTNTest.ConvertingTest"/>-->
            <class name="org.OptimaBusTests.uiTests.mainPageTests.employeeTests.EmployeesTests"/>
            <class name="org.OptimaBusTests.uiTests.mainPageTests.employeeTests.EmployeeIsmailovTest"></class>
            <class name="org.OptimaBusTests.uiTests.mainPageTests.employeeTests.EmployeeBegmatovaTest"></class>
            <class name="org.OptimaBusTests.uiTests.mainPageTests.MoreTests"></class>
        </classes>
    </test>

</suite>