<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SmokeTestSuite" verbose="1" parallel="classes" thread-count="1">
    <listeners>
        <listener class-name="org.OptimaBus.UI.utils.AllureReportListener"/>
    </listeners>
    <test name="SmokeTest">
        <classes>
<!--            <class name="org.OptimaBusTests.uiTests.LoginTests"/>-->
            <class name="org.OptimaBusTests.uiTests.CalcTests"/>
            <class name="org.OptimaBusTests.uiTests.SettingsTests"/>
            <class name="org.OptimaBusTests.uiTests.MainPageTest"/>
            <class name="org.OptimaBusTests.uiTests.OperationHisTests"/>
        </classes>
    </test>
<!--&lt;!&ndash;    <test name="Regression">&ndash;&gt;-->
<!--        <classes>-->

<!--        </classes>-->
<!--    </test>-->
<!--    <test name="2E2">-->
<!--        <classes>-->

<!--        </classes>-->
<!--    </test>-->
</suite>